:root {
  --dark-accent: #0d4a6e;
  --body-color: #edf2fd;
  --card-color: white;
  --teal-accent: #086da7;
  --red-accent: #bd3fac;
  --box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.412);
  --border-radius: 7px;
  --link: #61dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0 auto;
  /* max-width: 100vw; */
}

h1 {
  padding: 10px 0;
}

h3 {
  padding-right: 10px;
  padding-bottom: 4px;
}

a {
  color: var(--link);
}

button {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

button:hover {
  background-color: #b8c2d6;
}

button:active {
  background-color: rgb(231, 231, 231);
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 20px 30px;
}

.sourceGithub {
  height: auto;
  width: 25px;
}
