/* Where "Loading" data will appear */
.display {
  display: flex;
  flex-direction: column;
}

.today-top-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 800px) {
  .today-top-container {
    display: flex;
    flex-direction: column;
  }
}

.today-top-container > .current.display {
  padding-bottom: 35px;
}

.today-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.today-info > h2,
.today-info > h3,
.date {
  text-align: left;
}

.hourly > .display {
  padding-bottom: 15px;
  padding-top: 30px;
}

.description {
  font-size: 2.5rem;
  font-weight: 600;
}

.display-info {
  font-size: 3rem;
  font-weight: 600;
}

.img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container > img {
  width: auto;
  height: 200px;
}

.hourly {
  grid-column: 1 / 3;
}

/* TodayInfo */

.today-grid {
  margin: 30px 15px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

div.small.card {
  padding: 15px;
  border: 5px solid rgb(253, 252, 245);
  max-width: 200px;
  min-width: 100px;
  display: grid;
  align-items: center;
  gap: 15px;
}

.img-container.small > img {
  width: 6vmin;
  height: auto;
}

.display-info.small {
  font-size: 1.2rem;
}

hr.card-section-line {
  margin: 10px;
  width: 300px;
  margin: auto;
  border-top: 1px dashed var(--teal-accent);
}
